:root {
    --color-background :  hsla(54, 40%, 3%, 1);
    --color-accent :      hsla(195, 86%, 64%, 1);
    --color-almostWhite :  hsla(42, 100%, 98%, 1);
    --color-gray:         hsla(42, 100%, 98%, 0.8);
    --color-disable:      hsla(42, 100%, 98%, 0.3);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--color-almostWhite);
    background-color: var(--color-background);
    display: flex;
    place-content: center;
    min-block-size: 100dvb;
    font-size: 2.4rem;
    line-height: 1.5;
}

/* Utils */

.color-blue {
    color: var(--color-accent);
}
.mt-10 {
    margin-top: 1rem;
}
.mt-40 {
    margin-top: 4rem;
}
.mt-80 {
    margin-top: 8rem;
}
.mb-120 {
    margin-bottom: 100rem;
}
.p-absolute{
    position: absolute;
}
.p-fixed{
    position: fixed;
}

.space-grotesk {
    font-family: 'Space Grotesk';
    font-style: normal;    
}

.about-me p span{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

.scroll-margin{
    scroll-margin-block-start: 6rem;
}

.container {
    width: 90%;
    max-width: 130rem;
    position: relative;
    display: flex;
}

.content{
    margin-left: 25rem;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.menu{
    display: flex;
    flex-direction: column;
}

.menu a {
    font-weight: 500;
    letter-spacing: -0.08rem;
    text-decoration: none;
    color: var(--color-disable);
}

.menu a:hover {
    color: var(--color-almostWhite);
}

.menu a:focus {
    color: var(--color-accent);
    
}

.headline-1{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 1.1;
    letter-spacing: -0.08rem;
}

.grid-preview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid-preview div {
    overflow: hidden;
    height: 36rem;
}
.grid-preview div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.grid-cv{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.description p,ul li {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-gray);
}
